# Игнорируем тяжелые папки с исходниками ядра и инструментами сборки
kernel/
build_tool/
toolchain/
boot_staging/
**/target/

# Игнорируем бинарные слепки дисков и ядра
*.iso
*.cpio.gz
*.bak
vmlinuz
init

# Исключение: Cargo-конфиг для статической сборки Rust ОБЯЗАН быть в Git
!.cargo/config.toml
