set timeout=5
set default=0

menuentry "fuckassdistro" {
    linux /home/coshelok/Downloads/pyproj/fuckassdistro/kernel/linux-7.0.10/arch/x86_64/boot/bzImage
    initrd /home/coshelok/Downloads/pyproj/fuckassdistro/initramfs.cpio.gz
}
